// ============================================================ //
// ----- > Color Scheme --------------------------------------- //
// ============================================================ //

// Color 1
$color-1: #454545;
$color-1-dark: #333;
$color-1-darker: #1f1f1f;
$color-1-darkest: #0a0a0a;
$color-1-light: #ccc;
$color-1-lighter: #e9e9e9;
$color-1-lightest: #fff;

// Color 2
$color-2: #000;
$color-2-dark: #000;
$color-2-darker: #000;
$color-2-darkest: #000;
$color-2-light: #000;
$color-2-lighter: #000;
$color-2-lightest: #000;

// Color 3
$color-3: #000;
$color-3-dark: #000;
$color-3-darker: #000;
$color-3-darkest: #000;
$color-3-light: #000;
$color-3-lighter: #000;
$color-3-lightest: #000;