// ============================================================ //
// ----- > Clear ---------------------------------------------- //
// ============================================================ //

@mixin clear($method: visible) {

  @if $method == visible {

    &:before,
    &:after {
      content: '';
      display: table;
    }

    &:after {
      clear: both;
    }

  }

  @else if  $method == hidden {
   overflow: hidden;
  }

}